* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #1b1a17;
}
header {
  padding: 1rem 0;
  display: flex;
  font-family: sans-serif;
  height: 6rem;
  color: rgba(255, 255, 255, 0.757);
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px #da0037;
  background: #171717;
}
header > h1 {
  background-color: #444444;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}
main {
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
article {
  display: flex;
  flex-direction: column;
  background-color: #444444;
  border-radius: 1rem;
  margin: 1rem;
  height: auto;
  box-shadow: 0px 2px 5px #444444;
}

article a {
  color: whitesmoke;
  text-decoration: none;
}

article img {
  object-fit: scale-down;
  width: 100%;
  height: 450px;
  padding: 1rem 1rem;
  border-radius: 6%;
}
article p {
  margin: 1rem 2rem;
}
.desc {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  box-shadow: 0px 1px #da0037;
}
h2 {
  margin: auto;
  margin-left: 1rem;
  font-size: 1.5rem;
}
.icons {
  margin-top: 5px;
  margin-right: 3rem;
}
i[class*="fa-html5"] {
  color: orangered;
}
i[class*="fa-css3-alt"] {
  color: rgb(0, 136, 255);
}
i[class*="fa-js"] {
  color: yellow;
}
@media only screen and (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 14px;
  }
}
